svg#freepik_stories-content-structure:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-content-structure.animated #freepik--Gears--inject-13 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-content-structure.animated #freepik--Structure--inject-13 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-content-structure.animated #freepik--html-box--inject-13 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-content-structure.animated #freepik--code-box--inject-13 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

svg#freepik_stories-content-structure.animated #freepik--Window--inject-13 {
    animation: 1.5s Infinite linear floating;
    animation-delay: 0s;
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}